<meta name="description" content="Formidable application sans esthétisme développée dans le cadre d'un devoir de python par une illustre et peu brillante inconnue étudiant à l'Ecole nationale des chartes.">
<meta name="keywords" content="Mis en registre,Chartes,Ecole,Parlement,enregistrement,Louis XI, Moyen Age">
<meta name="author" content="Marie Millarec, à partir du cours dispensé par Thibault Clérice et des données mises à dispositpion par Anne Fleuret.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">