<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Mis en registre !</title>
    <head>
        <p style="font-family:eufm10">Mis en registre !</p>
        {% if current_user.is_authenticated %}
        <p>
            {{current_user.user_login}}   
        </p>
       {% endif %}
       <style>
body {
  background-image: url('static/images/gallerie.png');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: 9%;
}
</style>
<style>
      .alert-error {
        padding: 8px;
        background-color: blue;
        color: white;
      }
    </style>
       
    </head>
<body leftmargin="125">
<h1><p align="center" style="font-family:eufm10">Evolutions de l'application</p></h1>



<div>

        <ul>
            {% for authorship in authorships %}
                <li align="justify">
                    {{authorship.authorship_date}}. &nbsp; Modification n°{{authorship.authorship_id}}, sur 
                     <b>{{authorship.authorship_enregistrement_id}}</b> par {{authorship.user.user_login}} : {{authorship.authorship_type}}.</li><br/>
            {% endfor %}
        </ul>


<div>
<p><font size="3"><a href="{{url_for('index')}}">Explorez les index</a> <a href="{{url_for('accueil')}}">Retour à l'accueil</a> <a href="{{url_for('presentation')}}">L'origine de l'application</a></font></p>
</div>
</body>
</html>