<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Mis en registre !</title>
    <head>
        <p style="font-family:eufm10">Mis en registre !</p>
    </head>
<body leftmargin="125">   
<h1 style="font-family:eufm10">Vous êtes inscrits !</h1>
<div>
<p align="justify">Votre inscription a été prise en compte : vous pouvez dès à présent vous connectez.</p>
<p><b>{{validation}}</b></p>
<p align="justify">Ces informations sont personnelles et confidentitielles.</p>
<p align="justify">Amusez-vous bien : que d'aventures vous attendent sur cette application, un voyage sous le règne de Louis XI.</p>
<br/>
<p><a href="{{url_for('accueil')}}">Retour à l'accueil</a> <a href="{{url_for('index')}}">Consulter les index</a> <a href="{{url_for('decouvrir')}}">Poursuivre l'exploration de la base</a> <a href="{{url_for('presentation')}}">L'origine de l'application</a></p>
</div>
</body>
</html>