<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Mis en registre !</title>
    <head>
        <p style="font-family:eufm10">Mis en registre !</p>
        {% if current_user.is_authenticated %}
        <p>
            {{current_user.user_login}}   
        </p>
       {% endif %}
       <style>
body {
  background-image: url('static/images/gallerie.png');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: 9%;
}
</style>
<style>
      .alert-error {
        padding: 8px;
        background-color: blue;
        color: white;
      }
    </style>
       
    </head>

<body leftmargin="125">
<h1><p align="center" style="font-family:eufm10">Bienvenue ! Découvrez les documents enregistrés par le parlement de Paris sous le règne de Louis XI.</p></h1>
{% for message in get_flashed_messages() %}
        <div class="alert-error">{{ message }}</div>
    {% endfor %}
 
<div>   
    <p align="justify">L'application <i>Mis en registre</i> a été créée par Marie-TNAH dans le cadre d'un devoir python du master Technologies numériques appliquées à l'histoire. Elle a pour ambition de mettre en valeur sur les données collectées par <a href="{{url_for('presentation')}}">Anne Fleuret</a> dans le cadre de son master de recherche en histoire médiévale à l'université Panthéon-Sorbonne (Paris1), sous la direction d'<a href="https://www.pantheonsorbonne.fr/recherche/page-perso/page/?tx_oxcspagepersonnel_pi1[uid]=matteoni">Olivier Mattéoni</a>. Anne Fleuret a travaillé sur les documents enregistrés par le parlement de Paris sous le règne de Louis XI. Elle a soutenu en 2020 son <a href="{{url_for('presentation')}}">mémoire</a>.</p>
</div>

<br/>
{% if not current_user.is_authenticated %}
<div>
    <form class="form-inline" action="{{url_for('inscription')}}" method="GET">
      <button>S'inscrire</button>  
    </form>
</div>
<br/>
<div>
    <form class="form-inline" action="{{url_for('connexion')}}" method="GET">
      <button>Se connecter</button>  
    </form>
</div>
{% endif %}
<br/>
{% if current_user.is_authenticated %}
<div>
    <form class="form-inline" action="{{url_for('deconnexion')}}" method="GET">
      <button>Se déconnecter</button>  
    </form>
</div>
<br/>
{% endif %}
<div>
<form class="form-inline" action="{{url_for("recherche")}}" method="GET">
          <input class="form-control" name="keyword" type="search" placeholder="Recherche rapide" aria-label="Recherche">
          <button class="btn btn-outline-info" type="submit">Rechercher dans les regestes</button>
</form>
<br/>
<form class="form-inline" action="{{url_for("recherche_avancee")}}" method="GET">
    <input class="form-control" name="keyword" type="search" placeholder="Recherche avancée" aria-label="Recherche">
    <button>Elargir votre recherche</button>
</form>
<br/>
<form class="form-inline" action="{{url_for("recherche_nature")}}" method="GET">
    <select name="enregistrement_nature">
        <option value="Charte">Charte</option>
        <option value="Lettre patente">Lettre patente</option>
        <option value="Mandement">Mandement</option>
        <option value="Ordonnance">Ordonnance</option>
    </select>
    <button>Rechercher un type de documents enregistrés</button>   
</form>
</div>
<br/>
<div>
    <form class="form-inline" action="{{url_for("index")}}" method="GET">
    <button>Consulter les index !</button>
    </form>
</div>
<br/>
{% if current_user.is_authenticated %}
<div>
    <form class="form-inline" action="{{url_for("ajout_document")}}" method="GET">
      <button>Ajouter un document à la base</button>  
    </form>
</div>
{% endif %}
<br/>
<div>
    <p align="justify">Inscrivez-vous, connectez-vous et aidez-nous à enrichir l'application afin d'avoir une vue d'ensemble des documents enregistrés par le parlement de Paris sous le règne de Louis XI. </p>{% if enregistrements %}
    <p align="justify">Actuellement, {{enregistrements|length}} sont disponibles sur notre application : <a href="{{url_for('decouvrir')}}"><b>venez les découvrir</b></a> !</p>
        {% endif %}
    <p><a href="{{url_for('presentation')}}">L'origine de l'application</a></p>
</div>

</body>
</html>
