<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Mis en registre !</title>
    <head>
        <p style="font-family:eufm10">Mis en registre !</p>
        <style>
      .alert-error {
        padding: 8px;
        background-color: blue;
        color: white;
      }
    </style>
      </head>
<body leftmargin="125">     
<h1 style="font-family:eufm10">Connexion</h1>

  {% for message in get_flashed_messages() %}
        <div class="alert-error">{{ message }}</div>
    {% endfor %}
<br/>
<div>
<form class="form" method="POST" action="{{url_for('connexion')}}">
  <div class="form-group row">
    <label for="register-login" class="col-sm-2 col-form-label">Login</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="register-login" name="login" placeholder="Nom d'utilisateur pour se connecter">
    </div>
    <br/>
  </div>
  <div class="form-group row">
    <label for="register-password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="register-password" placeholder="Mot de passe" name="motdepasse">
    </div>
  </div>
  <br/>
  <div>
    <button type="submit" class="btn btn-primary">Connexion</button>
  </div>
</form>
<p>Vous n'êtes pas encore inscrit ? <a href="{{url_for('inscription')}}">Rejoignez-nous</a> ! L'inscription ne vous prendra qu'une poignée de minutes. Alors qu'attendez-vous ?</p>
<form class="form-inline" action="{{url_for('inscription')}}" method="GET">
  <button>S'inscrire</button>  
</form>
<p><a href="{{url_for('accueil')}}">Retour à l'accueil</a> <a href="{{url_for('index')}}">Consulter les index</a> <a href="{{url_for('decouvrir')}}">Poursuivre l'exploration de la base</a> <a href="{{url_for('presentation')}}">L'origine de l'application</a></p>
<body>
</html>