<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Mis en registre !</title>
    <head>
        <p style="font-family:eufm10">Mis en registre !</p>
        {% if current_user.is_authenticated %}
        <p>
            {{current_user.user_login}}   
        </p>
       {% endif %}
    </head>
<body leftmargin="125">   
<h1 style="font-family:eufm10">Index des types de documents :</h1>
<div>

<p>
{% for enregistrement in enregistrements %}
<ul>
    <li align="justify"><a href="{{url_for('enregistrement', enregistrement_id=enregistrement.enregistrement_id)}}">
    <b>{{enregistrement.enregistrement_nature}}</b></a> : {{enregistrement.enregistrement_regeste}}</li>
</ul> 
{% endfor %}
</p>

    <p><a href="{{url_for('index')}}">Retour aux index</a> <a href="{{url_for('accueil')}}">Retour à l'accueil</a> <a href="{{url_for('decouvrir')}}">Poursuivre l'exploration de la base</a> <a href="{{url_for('presentation')}}">L'origine de l'application</a></p>
</div>
</body>
</html>