<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Mis en registre !</title>
    <head>
        <p style="font-family:eufm10">Mis en registre !</p>
        <style>
      .alert-error {
        padding: 8px;
        background-color: blue;
        color: white;
      }
    </style>
    </head>  

<body leftmargin="125">
  <h1 style="font-family:eufm10">Inscription</h1>
  {% for message in get_flashed_messages() %}
        <div class="alert-error">{{ message }}</div>
  {% endfor %}
<div>
<p>Complétez le formulaire et cliquez sur "S'inscrire".</p>
<form class="form" method="POST" action="{{url_for("inscription")}}">
  <div class="form-group row">
    <label for="register-login" class="col-sm-2 col-form-label">Login</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="register-login" name="login" placeholder="Nom d'utilisateur pour se connecter">
    </div>
    <br/>
  </div>
  <div class="form-group row">
    <label for="register-nom" class="col-sm-2 col-form-label">Nom</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="register-nom" placeholder="Votre nom pour les crédits" name="nom">
    </div>
    <br/>
  </div>
  <div class="form-group row">
    <label for="register-email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="register-email" placeholder="email@example.com" name="email">
    </div>
    <br/>
  </div>
  <div class="form-group row">
    <label for="register-password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="register-password" placeholder="Mot de passe" name="motdepasse">
    </div>
  </div>
  <div>
    <br/>
    <button type="submit" class="btn btn-primary">S'inscrire</button>
  </div>
</form>
    <p><a href="{{url_for('index')}}">Retour aux index</a> <a href="{{url_for('accueil')}}">Retour à l'accueil</a> <a href="{{url_for('decouvrir')}}">Poursuivre l'exploration de la base</a> <a href="{{url_for('presentation')}}">L'origine de l'application</a></p>
</div>
</body>
</html>