<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Mis en registre !</title>
    <head>
        <p style="font-family:eufm10">Mis en registre !</p>
        {% if current_user.is_authenticated %}
        <p>
            {{current_user.user_login}}   
        </p>
       {% endif %}
    </head>
<body leftmargin="125"> 

    <h1 style="font-family:eufm10">Résultat de votre recherche</h1>
<div>    
    {% if resultats1 %}
        <p align="justify"><b>Une correspondance a été trouvée entre '{{keyword}}' et la définition de la nature de ce(s) document(s) enregistré(s) par le parlement de Paris  :</b></p>
        <ul>
            {% for enregistrement in resultats1 %}
                <li align="justify">n°{{enregistrement.enregistrement_id}}. <a href="{{url_for('enregistrement', enregistrement_id=enregistrement.enregistrement_id)}}">
                {{enregistrement.enregistrement_nature}}</a> : {{enregistrement.enregistrement_regeste}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if resultats2 %}
        <p align="justify"><b>Le terme '{{keyword}}' se trouve dans le(s) regeste(s) de ce(s) document(s) enregistré(s) par le parlement de Paris  :</b></p>
        <ul>
            {% for enregistrement in resultats2 %}
                <li align="justify">n°<a href="{{url_for('enregistrement', enregistrement_id=enregistrement.enregistrement_id)}}">{{enregistrement.enregistrement_id}}</a>. {{enregistrement.enregistrement_regeste}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if resultats3 %}
        <p align="justify"><b>Une correspondance a été trouvée entre '{{keyword}}' et la date de ce(s) document(s) enregistré(s) par le parlement de Paris  :</b></p>
        <ul>
            {% for enregistrement in resultats3 %}
                <li align="justify">n°{{enregistrement.enregistrement_id}}. <a href="{{url_for('enregistrement', enregistrement_id=enregistrement.enregistrement_id)}}">{{enregistrement.enregistrement_datedoc}}</a> : {{enregistrement.enregistrement_regeste}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if resultats4 %}
        <p align="justify"><b>Une correspondance a été trouvée entre '{{keyword}}' et la définition des motifs de production de ce(s) document(s) enregistré(s) par le parlement de Paris  :</b></p>
        <ul>
            {% for enregistrement in resultats4 %}
                <li align="justify">n°{{enregistrement.enregistrement_id}}. <a href="{{url_for('enregistrement', enregistrement_id=enregistrement.enregistrement_id)}}">{{enregistrement.enregistrement_motif}}</a> : {{enregistrement.enregistrement_regeste}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if resultats5 %}
        <p align="justify"><b>Une correspondance a été trouvée entre '{{keyword}}' et la date d'enregistrement de ce(s) document(s) enregistré(s) par le parlement de Paris  :</b></p>
        <ul>
            {% for enregistrement in resultats5 %}
                <li align="justify">n°{{enregistrement.enregistrement_id}}. <a href="{{url_for('enregistrement', enregistrement_id=enregistrement.enregistrement_id)}}">{{enregistrement.enregistrement_date}}</a> : {{enregistrement.enregistrement_regeste}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if resultats6 %}
        <p align="justify"><b>Une correspondance a été trouvée entre '{{keyword}}' et la définition du mode d'enregistrement utilisé pour ce(s) document(s) enregistré(s) par le parlement de Paris  :</b></p>
        <ul>
            {% for enregistrement in resultats6 %}
                <li align="justify">n°{{enregistrement.enregistrement_id}}. <a href="{{url_for('enregistrement', enregistrement_id=enregistrement.enregistrement_id)}}">{{enregistrement.enregistrement_mode}}</a> : {{enregistrement.enregistrement_regeste}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if resultats7 %}

        <p align="justify"><b>Une correspondance a été trouvée entre '{{keyword}}' et la mention de l'enregistrement à la Chambre des comptes pour ce(s) document(s) enregistré(s) par le parlement de Paris  :</b></p>
        <ul>
            {% for enregistrement in resultats7 %}
                <li align="justify">n°{{enregistrement.enregistrement_id}}. <a href="{{url_for('enregistrement', enregistrement_id=enregistrement.enregistrement_id)}}">{{enregistrement.enregistrement_chcomptes}}</a> : {{enregistrement.enregistrement_regeste}}</li>
            {% endfor %}
        </ul>
    {% endif %}    

        
     <p><font style="color: grey" size="2">*Les numéros correspondent aux identifiants des enregistrements, ils sont propres à cette application.</font></p>


    {% if not resultats1 or resultats2 or resultats3 or resultats4 or resultats5 or resultats6 or resultats7 %}



    <p>En l'absence de correspondance trouvée, n'hésitez pas à consulter les index. </p>

    {% endif %}
    

   <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a> <a href="{{url_for('index')}}">Consulter les index</a> <a href="{{url_for('decouvrir')}}">Poursuivre l'exploration de la base</a> <a href="{{url_for('presentation')}}">L'origine de l'application</a></p>
</div>
</body>
</html>