<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Mis en registre !</title>
    <head>
        <p style="font-family:eufm10">Mis en registre !</p>
        {% if current_user.is_authenticated %}
        <p>
            {{current_user.user_login}}   
        </p>
       {% endif %}
    </head>
<body leftmargin="125"> 

    <h1 style="font-family:eufm10">Confirmez votre volonté</h1>
<div>
        <p>Vous avez demandé la suppression du document n°{{enregistrement_id}} de la base.</p>
        <p>Etes vous sûr(e) de vouloir définitivement supprimer le document ?</p>
 <form class="form-inline" action="{{url_for('suppression', enregistrement=enregistrement, enregistrement_id=enregistrement.enregistrement_id)}}" method="GET">
      <button>Oui</button>  
</form>
<br/>
<form class="form-inline" action="{{url_for('enregistrement', enregistrement=enregistrement, enregistrement_id=enregistrement.enregistrement_id)}}" method="GET">
      <button>Non</button>  
</form>

    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a> <a href="{{url_for('index')}}">Consulter les index</a> <a href="{{url_for('decouvrir')}}">Poursuivre l'exploration de la base</a> <a href="{{url_for('presentation')}}">L'origine de l'application</a></p>
</div>
</body>
</html>